header {
  text-align: center;
}
header img {
  width: 574px;
  height: 1280px;
  border-radius: 30%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
}
section {
  margin: 50px 0;
  text-align: center;
}
section h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
section ul li {
  margin: 10px 0;
  font-size: 18px;
}
footer {
  margin-top: 50px;
  text-align: center;
}
footer p {
  font-size: 18px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 10px 0;
  font-size: 18px;
}
